@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
}

body {
  
}

@layer components {
  
  .theming {

    #dark:checked {

      +label {
        transform: translate(42px, -50%);
      }

      ~#light {

        +label {
          z-index: 20;
        }
      }
    }
  }
}